spring:
    application:
        name: Reminder
    datasource:
        url: jdbc:postgresql://localhost:5432/Liquibase_test
        username: postgres
        password: postgres
        driver-class-name: org.postgresql.Driver
    jpa:
        database: postgresql
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        hibernate:
            ddl-auto: validate